---
interface Props {
  size?: "small" | "medium";
  titleTop?: string;
  titleBottom?: string;
}

const { size = "small", titleTop, titleBottom } = Astro.props;

const sizeVariants = {
  small: "w-auto h-full aspect-square",
  medium: "w-auto h-full aspect-[2/1]",
};
---

<article
  class={`relative flex items-center justify-center ${sizeVariants[size]} group`}
>
  <div
    class="w-full h-full flex border-4 border-transparent group-hover:border-white overflow-hidden"
  >
    <slot />
  </div>

  {
    titleTop && (
      <span class="absolute left-3 top-2 group-hover:hidden font-archivo-black text-sm sm:text-xl md:text-2xl xl:text-4xl text-white/80 uppercase">
        {titleTop}
      </span>
    )
  }

  {
    titleBottom && (
      <span class="absolute left-3 bottom-2 group-hover:hidden font-archivo-black text-sm sm:text-xl md:text-2xl xl:text-4xl text-white/80 uppercase">
        {titleBottom}
      </span>
    )
  }
</article>
