---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<header class="hidden group-hover:flex">
  <span
    class="text-lg sm:text-3xl md:text-4xl xl:text-6xl font-archivo-black font-outline-1 opacity-70 mix-blend-differdence uppercase"
  >
    {text}
  </span>
</header>
