---
import Layout from "@/layouts/Layout.astro";
import Title from "./Title.astro";
import Carousel from "./Carousel.astro";
import Footer from "./Footer.astro";
import LightBar from "./cursor/LightBar.astro";

import { getI18N } from "./i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.SEO.SEO_TITLE} description={i18n.SEO.SEO_DESCRIPTION}>
  <main
    class="w-full h-screen flex items-center justify-center overflow-hidden p-6 pt-0"
  >
    <div
      class="w-full h-full grid grid-rows-3 grid-flow-row max-w-5xl md:max-w-5xl xl:max-w-7xl mix-blend-difference z-10"
    >
      <Title />
      <LightBar />
      <Carousel />
      <Footer />
    </div>
  </main>
</Layout>
