---
import Mail from "@/icons/Mail.astro";
---

<footer class="w-full flex justify-end mt-2 z-20">
  <a
    href="mailto:ostoaleonardo.dev@gmail.com"
    class="flex items-center justify-center text-sm font-oswald bg-white uppercase hover:invert cursor-pointer transition-all px-2 py-1 gap-2"
  >
    <Mail />
    Send me an email
  </a>
</footer>
