---
import Dropdown from "./dropdown/Dropdown.astro";
---

<section class="relative row-span-2 uppercase mix-blend-difference z-20">
  <div
    class="w-full h-full max-md:flex max-md:items-center max-md:justify-center flex-col group"
  >
    <h2
      class="title text-[20vw] md:text-[9vw] font-archivo-black font-outline-2 group-hover:text-slate-100 break-all transition-all"
    >
      Welcome
    </h2>
    <h3
      class="hidden lg:inline-block absolute top-28 left-28 text-[9vw] text-white font-archivo-black group-hover:font-outline-2 whitespace-normal leading-none transition-all"
    >
    </h3>
  </div>
  <Dropdown />
</section>
