---
import Title from "./Title";
import Dropdown from "./dropdown/Dropdown.astro";
---

<section class="relative row-span-2 mix-blend-difference uppercase z-20">
  <Title client:load />
  <Dropdown />
</section>
