---
import BorderCard from "../borderCard/BorderCard.astro";
import IconCard from "@/icons/IconCard.astro";
---

<BorderCard size="small">
  <div
    class="w-full h-full flex justify-center items-center bg-slate-400 dark:bg-neutral-800 cursor-pointer"
  >
    <IconCard />
    <img
      class="w-3/6 aspect-square rounded-full"
      src="https://avatars.githubusercontent.com/u/141528763"
      alt="Avatar"
    />
  </div>
</BorderCard>
