---
import BorderCard from "../borderCard/BorderCard";
import TitleCard from "../borderCard/TitleCard.astro";
import IconCard from "../borderCard/IconCard.astro";

import { retrieveContributionData } from "@/api/github.ts";

const contributions = await retrieveContributionData();

const getMonths = () => {
  const months: string[] = [];
  contributions.forEach((day) => {
    const date = new Date(day.date);
    const month = date.toLocaleString("default", { month: "short" });
    if (months.length === 0) {
      months.push(month);
    } else if (months[months.length - 1] !== month) {
      months.push(month);
    }
  });

  return months;
};

import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<BorderCard
  client:load
  size="medium"
  title="GitHub"
  subtitle={i18n.SOCIAL_CARD.SUBTITLE}
  titleTop="GitHub"
>
  <a
    target="_blank"
    aria-label="GitHub profile"
    href="https://github.com/ostoaleonardo"
    class="w-full h-full flex flex-col justify-between bg-github max-lg:bg-github-card bg-cover p-2 md:p-4 cursor-pointer"
  >
    <IconCard />
    <TitleCard text="GitHub" />

    <footer class="w-full h-full flex flex-col justify-end gap-2">
      <span class="w-full hidden lg:flex items-end justify-between">
        {
          getMonths()
            .slice(-8)
            .map((month: string) => {
              return (
                <span class="text-neutral-100 text-xs font-oswald uppercase">
                  {month}
                </span>
              );
            })
        }
      </span>
      <ul
        class="w-auto h-auto hidden lg:grid grid-rows-7 grid-flow-col gap-0.5 xl:gap-1"
      >
        {
          contributions.slice(120, 365).map((day) => {
            if (day.contributionCount === 0) {
              return (
                <li class="w-2 xl:w-2 bg-white bg-opacity-5 rounded-[.15rem] aspect-square" />
              );
            }
            if (day.contributionCount < 3) {
              return (
                <li class="w-2 xl:w-2 bg-github-squeares bg-opacity-20 border-1 border-github-squeares border-opacity-10 rounded-[.15rem] aspect-square" />
              );
            }
            if (day.contributionCount < 5) {
              return (
                <li class="w-2 xl:w-2 bg-github-squeares bg-opacity-30 border-1 border-github-squeares border-opacity-10 rounded-[.15rem] aspect-square" />
              );
            }
            if (day.contributionCount >= 5) {
              return (
                <li class="w-2 xl:w-2 bg-github-squeares bg-opacity-80 border-1 border-github-squeares border-opacity-10 rounded-[.15rem] aspect-square" />
              );
            }
          })
        }
      </ul>
    </footer>
  </a>
</BorderCard>
