---
import { PROJECTS } from "../constants/projects.ts";
import ProjectCard from "./Project/ProjectCard.astro";
---

<div
  id="modal"
  class="hidden absolute inset-0 items-center justify-center bg-black/90 backdrop-blur-xl z-50"
>
  <div class="w-full max-w-7xl p-4 mx-auto bg-white dark:bg-zinc-800">
    <div class="flex items-center justify-between">
      <h2
        class="text-3xl text-slate-900 dark:text-slate-100 font-archivo-black uppercase"
      >
        Projects
      </h2>
      <button
        id="close-modal"
        class="text-3xl text-slate-900 dark:text-slate-100 font-archivo-black uppercase"
      >
        &times;
      </button>
    </div>
    <div
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6"
    >
      {PROJECTS.map((project) => <ProjectCard project={project} />)}
    </div>
  </div>
</div>
../../constants/projects.ts