---
import BorderCard from "../borderCard/BorderCard.astro";
import IconCard from "@/components/borderCard/IconCard.astro";

interface Props {
  label: string;
  link: string;
  backgroundColor?: string;
}

const { label, link, backgroundColor = "bg-zinc-800" } = Astro.props;
---

<BorderCard size="small" titleBottom={label.split(" ")[0]}>
  <a
    href={link}
    target="_blank"
    aria-label={label}
    class={`w-full h-full flex justify-center items-center ${backgroundColor}`}
  >
    <IconCard />
    <div class="w-[40%] text-slate-100">
      <slot />
    </div>
  </a>
</BorderCard>
