---
import BorderCard from "../borderCard/BorderCard.astro";
import HTML5 from "../icons/HTML5.astro";
import CSS3 from "../icons/CSS3.astro";
import JavaScript from "../icons/JavaScript.astro";
import React from "../icons/React.astro";
import Tailwind from "../icons/Tailwind.astro";
import NextJs from "../icons/NextJs.astro";
import Expo from "../icons/Expo.astro";
import GitHub from "../icons/GitHub.astro";
import Figma from "../icons/Figma.astro";
---

<BorderCard size="small">
  <div
    class="w-full h-full grid grid-cols-4 items-center justify-center gap-2 text-slate-100 bg-neutral-800 p-2 md:p-5"
  >
    <HTML5 />
    <CSS3 />
    <JavaScript />
    <React />
    <Tailwind />
    <NextJs />
    <Expo />
    <GitHub />
    <Figma />
  </div>
</BorderCard>
