---
import BorderCard from "../borderCard/BorderCard.astro";
import WeatherWidget from "../carouselCards/WeatherWidget.astro";

import { getWeather } from "../../api/openWeather.ts";

const { currentLocale } = Astro;

const weather = await getWeather(currentLocale);

const isNight = weather?.icon.includes("n");
---

<BorderCard size="medium">
  <div class="relative w-full h-full flex items-center">
    <WeatherWidget isNight={isNight} />
    <div class="absolute flex flex-col p-4 sm:p-6 md:p-10 md:gap-1 z-50">
      <div class="flex flex-row items-center gap-1">
        <span
          class:list={[
            "text-3xl sm:text-4xl md:text-5xl xl:text-8xl font-archivo-black",
            {
              "text-neutral-100": isNight,
              "text-neutral-900": !isNight,
            },
          ]}
        >
          {Math.round(weather?.temp) + "°C"}
        </span>
        <img
          src={weather?.icon}
          alt="weather icon"
          class="w-10 h-10 xl:w-24 xl:h-24"
        />
      </div>
      <span
        class:list={[
          "text-sm sm:text-xl md:text-xl xl:text-3xl font-oswald uppercase",
          {
            "text-neutral-100": isNight,
            "text-neutral-900": !isNight,
          },
        ]}
      >
        {weather?.description}
      </span>
    </div>
  </div>
</BorderCard>
