---
import ArrowRightUp from "./ArrowRightUp.astro";

interface Props {
  icon?: any;
}

const { icon } = Astro.props;
---

<div class="absolute flex top-4 sm:top-6 right-4 sm:right-6 text-white">
  <ArrowRightUp />
</div>
