<div class="cursor mix-blend-difference z-[9999]"></div>

<script>
  const cursor = document.querySelector(".cursor");

  document.addEventListener("mousemove", (e) => {
    cursor?.setAttribute(
      "style",
      "top: " + e.pageY + "px; left: " + e.pageX + "px;"
    );
  });

  document.addEventListener("click", () => {
    cursor?.classList.add("bg-slate-200");

    setTimeout(() => {
      cursor?.classList.remove("bg-slate-200");
    }, 100);
  });
</script>

<style>
  .cursor {
    position: fixed;
    width: 2rem;
    height: 2rem;
    border-width: 3px;
    pointer-events: none;
    border-color: white;
    transform: translate(-50%, -50%);
  }
</style>
