---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-neutral-900 bg-pattern bg-repeat">
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

  .font-outline-1 {
    -webkit-text-stroke: 1px white;
    color: transparent;
  }

  .font-outline-2 {
    -webkit-text-stroke: 2px white;
    color: transparent;
  }

  .font-outline-4 {
    -webkit-text-stroke: 4px white;
    color: transparent;
  }

  .font-archivo-black {
    font-family: "Archivo Black", sans-serif;
  }

  .font-oswald {
    font-family: "Oswald", sans-serif;
  }

  .cursor {
    position: fixed;
    width: 2rem;
    height: 2rem;
    border-width: 3px;
    pointer-events: none;
    border-color: white;
    transform: translate(-50%, -50%);
  }

  .light-bar {
    position: fixed;
    width: 24rem;
    height: 120%;
    transform: translate(-50%);
  }
</style>
