---
interface Props {
  title: string;
  description: string;
}

import { ViewTransitions } from 'astro:transitions';
import Cursor from '@/components/cursor/Cursor.astro';

const { title, description } = Astro.props;
const { currentLocale } = Astro;
---

<!doctype html>
<html class="dark" lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-neutral-900 bg-pattern bg-repeat select-none">
    <slot />
    <Cursor />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

  .font-outline-1 {
    -webkit-text-stroke: 1px white;
    color: transparent;
  }

  .font-outline-2 {
    -webkit-text-stroke: 2px white;
    color: transparent;
  }

  .font-outline-4 {
    -webkit-text-stroke: 4px white;
    color: transparent;
  }

  .font-archivo-black {
    font-family: "Archivo Black", sans-serif;
  }

  .font-oswald {
    font-family: "Oswald", sans-serif;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
</style>
